#usable {
    color: green;
    font-weight: bold;
    font-size: 30px
}

#non_usable {
    color: red;
    font-weight: bolder;
    font-size: 30px
}

#dont_have{
    color: rgb(219, 144, 5);
    font-weight: bolder;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: white;
    background-color: rgb(21, 65, 208);
    padding: 10px;
}
.navbar {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav{
    border-color: black;
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-weight: bolder;
}

#currentpage {
    background-color: aquamarine;
}

#welcome {
    text-align: center;
    color: red;
    font-family: fantasy;
    font-size: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.mandatory {
    border-color: red;
}

.table {
    font-size: 30px;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

#mandatory_field{
    font-size: 25px;
    color: red;
}
#navUsername{
    color: black;
    border: 1px solid antiquewhite;
    padding: 10px;
    font-weight: bolder;
}

#effect_type{
    background-color: white;
}