<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePharmApp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>HomePharmApp</header>
    <nav>

        <div class="navbar">
          <a class="nav" href="/">Home</a>
          <a class="nav" id="currentpage" href="/add">Add Drugs</a>
          <a class="nav" href="/check">Search Drugs</a>
          <a class="nav" href="/settings">Settings</a>
          <a id="navUsername">Set your username in the Settings</a>

        </div>
    
    </nav>
    <h2>You've just registered the following drug:</h2>
    <div id="added_drug">
        
    </div>

    <a href='/'><button id="backToAddButton">Add a new drug</button></a>

    <script  src="/static/script_add.js"></script>


</body>
</html>