<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmApp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>PharmApp</header>
    <nav>

        <div class="navbar">
          <a class="nav" href="/">Home</a>
          <a class="nav" href="/add">Add Drugs</a>
          <a class="nav" id="currentpage" href="/check">Search Drugs</a>
          <a class="nav" href="/settings">Settings</a>

        </div>
    
    </nav>
    <br>
    <div>
        $$DRUGS_TABLE$$
    </div>

    
    <h3>Enter the drug's name that you're looking for:</h3>
    <form action="/check_list" method="get">
        <input type="text" id="search_name" class="box" name="search_name" placeholder="Drug's name">
        <input type="submit" value="Search">
    </form>
  
    <br>
    <h3>List all your inventory</h3>    
    <a href='/check_all'><button>List all</button></a>
    
  <br>
    
    

    <script  src="/static/script.js"></script>


</body>
</html>