<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmApp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>PharmApp</header>
    <nav>

        <div class="navbar">
          <a class="nav" id="currentpage" href="/">Home</a>
          <a class="nav" href="/add">Add Drugs</a>
          <a class="nav" href="/check">Search Drugs</a>
          <a class="nav" href="/settings">Settings</a>
          <a id="navUsername">Set your username in the Settings</a>

        </div>
    
    </nav>
    
    <h1 id="welcome">Welcome <em>username</em>!</h1>
    
    <img id=logo src="/static/logo.png" alt="PharmApp Logo">

    <h1>Enter data to register a new drug</h1>
  

   <form action="/add" method="get" class="inputboxes">
    <input type="text" class="mandatory" id="drug_name" class="box" name="drug_name" placeholder="Drug's name" required>  
    <select name="effect_type" id="effect_type" class="mandatory">
        <option selected="selected" value="" disabled selected>Choose a Field of effect</option>
        <option value="painkiller">Painkiller</option>
        <option value="antibiotics">Antibiotics</option>
        <option value="fever">Fever Reducer</option>
        <option value="antihistamine">Antihistamine</option>
        <option value="antacid">Antacid</option>
        <option value="other">Other</option>
    </select>
    <input type="date" class="mandatory" id="exp_date" class="box" name="exp_date" placeholder="YYYY-MM-DD">
    <input type="text" id="active_ingredient" class="box" name="active_ingredient" placeholder="Active ingredient">
    <input type="text" id="storage_location" class="box" name="storage_location" placeholder="Where it is stored?">
    <input type="text" id="stock" class="box" name="stock" placeholder="Add the quantity you have">
    <input type="text" id="other" class="box" name="other" placeholder="Any other comment">
    <input type="submit" value="Save" id="addNewDrugButton">
</form>
<h3 id="mandatoryField">Mandatory fields</h3>

    <script  src="/static/script.js"></script>


</body>
</html>