<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePharmApp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>HomePharmApp</header>
    
    <nav>

        <div class="navbar">
          <a class="nav" href="/">Home</a>
          <a class="nav" href="/add">Add New Drug</a>
          <a class="nav" href="/check">Search Drugs</a>
          <a class="nav" id="currentpage" href="/settings">Settings</a>
          <a id="navUsername">Set your username in the Settings</a>

        </div>
    
    </nav>

    <div><h1>Do you want to change your username?</h1>
        <input type="text" placeholder="Your Name" id="enterUsername">
        <br><br>
        <a href="/"><input type="submit" value="Save" id="changeUsernameButton"></a>
    </div>
<br>
<h1>Do you want to delete some of your data?</h1>

    <form action="/settings_del" method="get">
        <select name="deleteSelect" id="selectDelete">
            <option value="selected" selected>Choose what you want to delete</option>
            <option value="delete_expired">Delete expired drugs</option>
            <option value="delete_all">Delete all</option>
        </select>
        <br><br>
        <input type="submit" value="Delete" id="deleteAll" >
    </form>
    
    <script  src="/static/scriptSettings.js"></script>


</body>
</html>